<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">CRUD DEMO</div>
            <ul>
                 <a href="~/persons/index">Persons</a>
                 <a href="~/persons/create">Create Persons</a>
            </ul>

        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
